
<div class="hero">
    <section class="hero__contenedor">

        <h1 class="hero__title">Encuentra profesionales online y agenda turnos al instante</h1>
</div>
        </section>
   </div>

<div class="hero__section">

    <ul class="contenedor__ul">
        <li>
            <img class="hero__img" src="//d1p2vxxxcym00y.cloudfront.net/static/img/ubicacion-1bdf9aa2ef.svg" alt="">
            <h3>
                9 países
                <p>ya nos conocen</p>
            </h3>
        </li>
        <li>
            <img class="hero__img" src="//d1p2vxxxcym00y.cloudfront.net/static/img/agenda-8f0f5663a1.svg" alt="">
            <h3>
                9,5 millones
                <p>turnos otorgados</p>
            </h3>
        </li>
        <li>
            <img class="hero__img" src="//d1p2vxxxcym00y.cloudfront.net/static/img/profesionales-190b609fdb.svg" alt="">
            <h3>
                3 mil
                <p>profesionales confían en Docturno</p>
            </h3>
        </li>
    </ul>

</div>


<div class="main">
    <img class="main__img__principal" src="//d1p2vxxxcym00y.cloudfront.net/static/img/doc-icon-estetoscopio-ac3d802031.svg" alt="">
    <h3>¿Cómo funciona Docturno?</h3>
    <ul>
        <li>Aprende en tres simples pasos cómo funciona Docturno.</li>
        <li>
            <img class="main__img" src="//d1p2vxxxcym00y.cloudfront.net/static/img/doc-icon-step-one-3d6c84dc23.svg">
            <h5>
                1. BUSCA EL PROFESIONAL
                <p>Primero debes buscar al profesional según su cobertura médica, especialidad, ubicación o nombre.</p>
            </h5>
        </li>
        <li>
            <img class="main__img" src="//d1p2vxxxcym00y.cloudfront.net/static/img/doc-icon-step-two-de919bed87.svg">
            <h5>
                2. ELIGE UNA FECHA
                <p>Podrás ver toda la disponibilidad del profesional, eligiendo el día y horario que más se ajuste a tu necesidad.</p>
            </h5>
        </li>
        <li>
            <img class="main__img" src="//d1p2vxxxcym00y.cloudfront.net/static/img/doc-icon-step-three-c51df8702f.svg">
            <h5>
                3. AGENDA EL TURNO
                <p>¡Listo! tendrás tu turno agendado. Recibirás la confirmación por e-mail y recordatorios por mensajes de texto.</p>
            </h5>
        </li>
    </ul>

    <article class="dir">
        Encuentra profesionales en:
        <a target="_blank" href="https://www.ort.edu.ar">Haciendo ¡CLICK! acá</a>
    </article>
</div>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: 0;
    }

    a {
        text-decoration: n;
    }

    li {
        flex: 1;
        list-style: none;
        padding: 0px 50px;
    }


    .hero__padre {
        display: flex;
        width: 100%;
    }

    .hero {
        background-image: url("https://edutanatos.com/wp-content/uploads/2021/05/askulapstab-837309_1920-1024x724.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        background-size: cover;
        height: 50vw;
        width: 100%;
        justify-content: center;
    }

    .hero__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vw;
    }

    .hero__title {
        font-family: 'Outfit', sans-serif;
        color: #e85d04;
        font-size: 2rem;
        text-align: center;
        padding: 10vw;
    }

    .hero__section {
        display: flex;
        padding: 50px 10px;
        background-color: #ececec;
        border: 2px solid black;
    }

    .contenedor__ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .main__img__principal {
        height: 75px;
        width: 75px;
    }

    .hero__img {
        height: 60px;
        width: 60px;
    }

    .main {
        padding: 50px 10px;
        background-color: white;
    }

    .main__img {
        height: 22px;
        width: 22px;
    }

    .dir {
        padding: 20px;
        font-size: italic;
        text-align: center;
    }
</style>